hr.solid {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 0.3px solid #bbb;
}

.vl {
  border-left: 2px solid green;
  padding-right: 10px;
  height: 70px;
}

.vl-normal {
  border-left: 1px solid #bbb;
  margin-right: 10px;
  margin-left: 10px;
  height: 70px;
}

.vl-normal-noti {
  display: block;
  border-left: 1px solid #bbb;
  margin-right: 10px;
  margin-left: 10px;
  height: 72px;
}

.vl-board {
  border-left: 1px solid #bbb;
  height: 30px;
}

.vl-board-title {
  border-left: 1px solid #bbb;
  height: 50px;
}

.vl_invisible {
  opacity: 0;
  padding-right: 12px;
  height: 70px;
}
