.content-header {
  height: 4rem;
  width: 119.6rem;
  background-color: white;
  color: black;

  &__item {
    float: right;
    margin-top: 1.5rem;

    & > div > span {
      transform: scale(0.8, 0.8) !important;
      right: -20px !important;
      top: -12px !important;
    }

    & img {
      float: right;
      width: 10px;
    }

    &:first-child {
      margin-right: 2rem;
    }
    &:not(:last-child) {
      margin-left: 2rem;
    }
  }
}

.menuitem {
  top: 50%;
  &__3 {
    &-popover {
      opacity: 0;
      z-index: 50;
      position: absolute !important;
      right: 8vw !important;
      top: 14vh !important;
      visibility: hidden;
      position: absolute;
      right: 1rem;
      top: 4.5rem;
      height: 20rem;
      width: 18rem;
      background-color: #fff;
      transform: translate(0, 10px);
      padding: 1.5rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      &::before {
        // 삼각형
        content: "";
        position: absolute;
        z-index: -1;
        right: 1.1rem;
        top: -8px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }

    &-wrapper &-popover {
      opacity: 0;
      visibility: hidden;
      transition-delay: 2s;
    }

    &-wrapper:hover &-popover,
    &-wrapper:active &-popover &-wrapper:focus &-popover {
      opacity: 1;
      visibility: visible;
      z-index: 1000;
      transform: translate(0, -20px);
      transition: all 0.5s ease-in;
    }
  }
}
