.menu {
  position: relative;
  margin: 5px -5px 0;
  padding: 5px 5px;
  width: 119.4rem;
  height: 1rem;
  color: grey;
  background-color: white;
}

.menu-list {
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
}

.menu-items {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;

  & + & {
    margin-left: 15px;
  }
}

.submenu {
  &-wpr {
    position: relative;
    display: inline-block;
  }

  &__content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 50;
  }
}
