.agreementBoard {
  position: absolute;
  left: 17.5rem;
  background-color: #f8f9fa;
  width: 102.5rem;
  height: 62rem;

  &-header,
  &-content,
  &-top_section,
  &-bottom_section {
    margin-left: 5rem;

    &-calendar {
      &-start,
      &-end {
        position: relative;
      }
    }
  }

  &-top_section {
    width: 80rem;
    margin-bottom: 0.3rem;
    &-total {
      width: 50%;
    }
    &-button {
      background-color: skyblue;
      color: white;
      padding: 3px 4px 3px;
      border-radius: 2px;
      &-wrapper {
        width: 50%;
        text-align: end;
      }
    }
  }

  &-bottom_section {
    width: 80rem;
    margin-top: 0.3rem;
    &-input {
      &:focus {
        outline: none;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
    margin-left: 5px;
    margin-top: 3px;
  }

  &-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &-content {
    &__header {
      background-color: #f4f4f6;
      border: 2.5px solid lightgray;
      width: 80rem;
      height: 3rem;
    }

    &__title {
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
    }

    &__items {
      height: 30rem;
      width: 80rem;
      border: 2.5px solid lightgray;
    }

    &__header {
      &_no,
      &_writer,
      &_date,
      &_views {
        width: 14%;
        text-align: center;
      }

      &_title {
        width: 57%;
        margin-left: 10px;
      }
    }

    &__item {
      @for $i from 1 through 15 {
        &-#{$i} {
          &_no,
          &_writer,
          &_date,
          &_views {
            width: 14%;
            text-align: center;
          }

          &_title {
            width: 57%;
            margin-left: 10px;
          }
        }
      }
    }
  }

  &-calendar {
    &-start,
    &-end {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      max-width: 120%;
      font-size: 10px;
    }
  }
}
