.my_profile {
  position: absolute;
  margin-top: 48px;
  margin-left: 5rem;

  &__title {
    width: 150px;
    font-size: 2rem;
    font-weight: 800;
  }

  &__circular_image {
    & img {
      width: 180px;
      height: 180px;
      clip-path: circle(50%);
      box-sizing: border-box;
    }
  }

  &__kind {
    width: 150px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__email {
    width: 150px;
    font-size: 1rem;
    color: grey;
    font-weight: 300;
  }
}
